/*
html, body{height: 100%; background:#fff;}
.color-white{color:#fff;}
.adminDashboardView{margin:70px 10px 0px;}
.adminDashboardView td > table{margin:0 0 5px 0;}
.testupload-data-view{padding:20px 0;}
.testupload-data-view a{text-decoration:underline;}
.testupload-data-view a:hover{text-decoration:none;}
*/
html, body {
	height: 100%;
	background:#fff;
}
.color-white {
	color:#fff;
}
.adminDashboardView {
	margin:70px 10px 0px;
}
.adminDashboardView td > table {
	margin:0 0 5px 0;
}
.testupload-data-view {
	padding: 36px 2px;
}
#checked {
    width: 100%;
    min-width: inherit;
    margin-bottom: 2%;
}
.subScoresView {
	width:60%;
	margin:auto;
}
.testupload-data-view a:hover {
	text-decoration:none;
}
.dropdown-menu>li>a {
	color: #9d9d9d;
}
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent !important;
}
.box-container {
	min-height: 70px;
}
.box-item {
	width: 100%;
	z-index: 1000
}
.list-group {
	text-align: center;
}
.list-group-item {
	background-color: #f5f5f5 !important;
}
.DisplayQuestionsOrder .panel-default>.panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #ddd;
}